.Header{
    background-color: #b43;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    color:#000000;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}

div{
    display: flex;
    background-color: #b43;
    color:#fff;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-right: 20px;
    margin-left: 10px;

}

.Contact{
    background-color: #b43;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

a{
    color: #000000;
    font-size: smaller;
    display: flex;
    padding: 25px;
    font-family: 'Times New Roman', Times, serif;

}

.link{
    color: #000000;
    padding:20px;
}

#footer{
    background-color: #b43;
    padding: 50px;
    text-align: center;
    font-size: smaller;
    color:#000;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
}

body{
    background-color: #b43;
}

img{ 
    border: 20px solid;
    border-color: #000;
    margin-right: 20px;
}
