.Header{
    background-color: #b43;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    color:#000000;
}

div{
    display: flex;
    background-color: #b43;
    color:#fff;
    flex-direction: row;

}

.Contact{
    background-color: #b43;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

a{
    color: #000000;
}

.link{
    color: #000000;
    padding:20px;
}